@font-face {
  font-family: "Mplus1p-Black";
  src: url("../font/Mplus1p-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mplus1p-Regular";
  src: url("../font/Mplus1p-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../font/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../font/Roboto-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* main style */
body {
  font-family: "Roboto-Regular", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #606060;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 16px;
  font-family: "Roboto-Regular";
  font-weight: 800;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #db4549;
  border: none;
  cursor: pointer;
  margin: 0;
  border-radius: 50px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #f55a4b;
}

.button:disabled {
  background-color: #808080;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.wrapper {
  background-color: #fff8ee;
}

.page-description {
  font-family: "Mplus1p-Regular";
  font-size: 36px;
  line-height: 36px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 37px;
}

/* header style */
.main-header {
  background-color: #e1cfb2;
  background-repeat: no-repeat;
  background-position: center;
  color: #696969;
  margin-bottom: 70px;
  width: 100%;
}

.main-header a {
  color: #696969;
}

.main-navigation {
  font-family: "Roboto-Regular";
  font-weight: 700;
  display: flex;
  margin-bottom: 53px;
  padding-top: 2%;
}

.main-navigation--logo {
  width: 20%;
  margin-bottom: 20px;
}

.site-navigation__list {
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  width: 60%;
}

.navigation__list-item {
  position: relative;
  margin-right: 28px;
}

.navigation__list-item a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #f55a4b;
  top: 25%;
  right: 0%;
}

.navigation__list-item:last-child {
  margin-right: 0;
}

.site-address__list {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
}

.header-description {
  display: flex;
  text-align: left;
}

.description-content {
  padding-top: 200px;
}

.description-content span {
  font-family: "Mplus1p-Black";
  font-size: 40px;
  line-height: 59px;
}

.header-description h1 {
  font-family: "Mplus1p-Regular";
  font-size: 24px;

  font-weight: 300;
  line-height: 24px;
  margin: 0;
}

.header-description h2 {
  font-family: "Roboto-Light";
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 20px;
}

.header-description__img-hidden {
  display: none;
}

.button-request {
  font-size: 18px;
  margin-bottom: 0px;
  padding-left: 70px;
  padding-right: 70px;
}

.description-social {
  margin-bottom: 0;
  padding-top: 200px;
}

.description-social__item {
  opacity: .7;
  margin-bottom: 40px;
}


.description-social__item:hover {
  opacity: 1;
  transition: 0.3s;
  transform: scale(1.3);
}

/* about style */
.main-content__about {
  margin-bottom: 100px;
  font-family: "Roboto-Light";
  font-weight: 100;
}

.about-first {
  position: relative;
  display: flex;
  margin-bottom: 170px;
}

.about-first img {
  position: relative;
  z-index: 1;
}

.about-first::before {
  position: absolute;
  content: "";
  background-color: #e1cfb2;
  width: 600px;
  height: 249px;
  z-index: 1;
  left: 27%;
  top: 24%;
}

.about-first__description {
  width: 60%;
  font-size: 24px;
  line-height: 28px;
  padding-left: 30px;
  padding-top: 140px;
  margin: 0;
  z-index: 50;
}

.about-test {
  display: flex;
  position: relative;
  font-family: "Roboto-Light";
  margin-bottom: 230px;
}

.about-test::before {
  position: absolute;
  content: "";
  background-color: #e1cfb2;
  width: 70%;
  height: 249px;
  z-index: 1;
  left: 27%;
  top: -100%;
}

.about-test__content {
  width: 50%;
}

.about-test h3 {
  font-family: "Mplus1p-Regular";
  font-size: 48px;
  margin: 0;
  z-index: 60;
  position: relative;
}

.about-test__description {
  position: relative;
  z-index: 50;
  font-family: "Roboto-Light";
  font-size: 24px;
  font-weight: 200;
}

.about-test__description::after {
  position: absolute;
  content: url("/img/arrow_test.png");
  left: 120%;
  top: -150%;
}

.about-test__buton {
  position: relative;
  z-index: 60;
  width: 50%;
  text-align: right;
}

.button-test {
  font-size: 18px;
  margin-bottom: 0px;
  padding-left: 70px;
  padding-right: 70px;
}

/* catalog style */
.catalog {
  padding-top: 54px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.catalog-list__item {
  position: relative;
  width: 287px;

  margin-bottom: 30px;
  background-color: #e1cfb2;
}

.catalog-list__item:nth-child(4) {
  margin-right: 0;
}

.catalog-list__item:nth-child(2) {
  margin-right: 0;
}

.description-box {
  position: absolute;
  content: "";
  width: 287px;
  height: 65px;

  background-color: #e1cfb2;
  top: 43%;
  text-align: center;
}

.catalog-list__item--description {
  opacity: 1;
}

.catalog-list__item--description {
  margin: 0;
  padding-top: 10px;
  font-family: "Roboto-Regular";
  font-size: 20px;
  color: #ffffff;
  margin-top: 12px;
}

.description-сatalog {
  text-align: center;
  font-family: "Roboto-Light";
  font-size: 16px;
  margin-top: 0;
}

.description-сatalog p {
  margin-top: 0;
}

.catalog-button {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  margin-right: 16px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  margin-bottom: 25px;
  cursor: pointer;
}

.catalog-button::after {
  position: absolute;
  content: url("/img/arrow_catalog.png");
  right: 5%;
}

/* work-stages style */
.work-stages {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
  font-family: "Roboto-Regular";
  font-weight: 200;
  text-align: center;
  padding-bottom: 30px;
}

.work-stages__list {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 0;
}

.work-stages__list li:last-child {
  margin-right: 0;
}

.stages__list--item {
  text-align: center;
  width: 22%;
  margin-right: 35px;
  margin-bottom: 50px;
}

.list-item--box {
  margin-bottom: 5%;
}

.list-item--box:first-child p {
  font-weight: 700;
}

.list-item--icon {
  position: relative;
  width: 142px;
  height: 142px;
  border-radius: 50%;
  background-color: #ff5e7f;
  margin: 0 auto;
  margin-bottom: 3%;
}

.list-item--icon .icon-number {
  position: absolute;
  font-family: "Mplus1p-Black";
  font-size: 48px;
  top: 40%;
  left: 40%;
  color: #ffffff;
}

.arrow-workstage {
  position: absolute;
  content: "";
  top: 30%;
  right: -60%;
  width: 50px;
  height: 50px;
  border-top: 5px solid #cacaca;
  border-right: 5px solid #cacaca;
  transform: rotate(45deg);
}

.list-item--icon:last-child {
  display: none;
}

.stages__list--item img {
  margin-bottom: 20px;
}

.stages__list--item p {
  width: 100%;
  font-size: 18px;
  margin: 0;
}

.stages__list--item span {
  font-family: "Montserrat-Black";
  color: #f55a4b;
}

.work-stages {
  margin: 0 auto;
}

/* portfolio style */
.portfolio {
  margin-bottom: 96px;
}

.portfolio-wrapper {
  display: flex;
}

.portfolio-description {
  font-family: "Roboto-Light";
  font-weight: 200;
  margin-left: 50px;
}

.portfolio-description p {
  margin-bottom: 58px;
}

.portfolio-wrapper img {
  max-width: 100%;
}

.portfolio-button {
  position: relative;
  padding: 14px 100px 14px 84px;
}

.portfolio-button::after {
  position: absolute;
  content: url("/img/arrow_catalog.png");
  right: 17%;
}

/* reviews style */
.reviews {
  padding-top: 54px;
  margin-bottom: 80px;
  width: 1007px;
}

.reviews-list {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
}

.reviews-list--item {
  background-color: #e1cfb2;
  width: 458px;
  display: none;
  flex-wrap: wrap;
  font-family: "Roboto-Light";
  font-weight: 200;
  font-size: 16px;
  padding-top: 59px;
}

.reviews-list--item.active-slide {
  display: flex;
}

.reviews-list--item img {
  margin-left: 21px;
}

.reviews-description {
  width: 236px;
  margin-left: 22px;
}

.reviews-description span {
  font-size: 18px;
  font-weight: 700;
}

.reviews-description p {
  margin-top: 0;
}

.reviews-more__link {
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 45px;
  margin-bottom: 35px;
}

.reviews-more__link::after {
  position: absolute;
  content: "";
  top: 30%;
  right: 7%;
  width: 10px;
  height: 10px;
  border-top: 1.5px solid #aa874e;
  border-right: 1.5px solid #aa874e;
  transform: rotate(45deg);
}

/* Blog style */
.blog {
  width: 1007px;
  margin-bottom: 3%;

}

.blog-list {
  width: 100%;
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  flex-wrap: wrap;

}

.blog-list--item.active-slide {
  display: block;
}

.blog-list--item {
  position: relative;
  background-color: #e1cfb2;
  display: none;
  width: 453px;
}

.blog-list--item:last-child {
  margin-right: 0;
}

.blog-item--description {
  position: absolute;
  top: 30%;
  background-color: #ff5e7f;
  padding: 10px 30px 10px 20px;
  font-family: "Mplus1p-Black";
  color: #fff;
  text-transform: uppercase;
}

.blog-description {
  width: 351px;
  margin-left: 26px;
  font-family: "Roboto-Light";
  font-weight: 200;
}

.blog-more__link {
  position: relative;
  text-align: right;
  margin-bottom: 23px;
  padding-right: 45px;
}

.blog-more__link a {
  color: #000000;
}

.blog-more__link::after {
  position: absolute;
  content: "";
  top: 30%;
  right: 7%;
  width: 10px;
  height: 10px;
  border-top: 1.5px solid #aa874e;
  border-right: 1.5px solid #aa874e;
  transform: rotate(45deg);
}

.button-slider {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
}

.prev-button,
.next-button,
.prev-button__feedback,
.next-button__feedback {
  font-size: 0px;
  cursor: pointer;
  background-color: transparent;
  border-width: 0px;
}


/* footer style */
.main-footer {
  display: flex;
  justify-content: space-between;
  font-family: "Mplus1p-Regular";
  width: 100%;
  background-color: #e1cfb2;
  color: #ffffff;
  padding-top: 48px;
  padding-bottom: 5%;
}

.main-footer .container {
  display: flex;
  flex-wrap: wrap;
}

.main-footer a {
  color: #ffffff;
}

.footer-contact {
  display: flex;
  width: 40%;
  font-weight: 200;
  margin-top: 20px;
}

.footer-contact__description {
  font-family: "MPlus1p-Regular";
  font-weight: 200;
}

.footer-contact__description h3 {
  margin: 0;
  font-weight: 200;
  font-size: 24px;

}

.footer-contact__description span {
  font-weight: 200;
  font-size: 40px;
  line-height: 59px;
}

.footer-contact__description p {
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.nav-social__container {
  width: 60%;
}

.footer-navigation {
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 0;
}

.footer-navigation__list {
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  padding-left: 0;
  justify-content: space-between;
}

.footer-navigation__list-item:last-child {
  margin-right: 0;
}

.footer-social {
  width: 100%;
}

.social-list__item {
  opacity: .7;
}

.social-list__item:hover {
  opacity: 1;
  transition: 0.3s;
  transform: scale(1.3);
}

.footer-social__list {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
}

.footer-other--list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 200;
  text-transform: uppercase;
}

.footer-other--list a {
  color: #000000;
}

.footer-other--list a:hover {
  transition: 0.3s;
  color: #fff;
}

/* popup */
.invalid-field {
  border: 2px solid red;
}

.popup {
  display: none;
  width: 30%;
  position: fixed;
  top: 20%;
  left: 37%;
  background-color: #ffffff;
  width: 30%;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  z-index: 50;
}

.contact-form {
  background-color: #ffffff;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.popup.open {
  display: block;
}

.contact-form input,
.popup input {
  font-family: "Roboto-Regular";
  width: 80%;
  margin-bottom: 30px;
  padding: 10px 0px 10px 10px;
  font-size: 16px;
}

.callback-message {
  font-family: "Roboto-Regular";
  font-size: 16px;
  width: 80%;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 3%;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0px;
  cursor: pointer;
  background-color: transparent;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -190%;
  width: 25px;
  height: 3px;
  background-color: #db4549;
}

.modal-close::before {
  transform: rotate(-45deg);
}

.modal-close::after {
  transform: rotate(45deg);
}

.button.button-submit {
  margin-bottom: 6%;
  width: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}

.black-wrapper {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overflow-show {
  display: block;
}

.test-popup-window {
  width: 50%;
  display: none;
  position: absolute;
  top: 140%;
  left: 25%;
  background-color: #ffffff;

  border-radius: 5px;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  z-index: 100;
}

.test-popup-window.open {
  display: block;
}

.test-popup-container {
  text-align: left;
  width: 95%;
}

.test-popup-container h3 {
  text-align: center;
  position: relative;
}

.test-popup-container h3::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 2px;
  background-color: #cbd1d8;
  top: 35px;
  left: 5%;
}

.test-popup-window--list {
  padding-bottom: 5%;
}

.test-popup-window--list__item {
  margin-bottom: 3%;
}

.option-input {
  margin-right: 4%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
  background: #9faab7;
}

.option-input:checked {
  background: #40e0d0;
}

.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.test-popup-window--list__item label {
  cursor: pointer;
}

.modal-test-close {
  position: absolute;
  top: 0px;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0px;
  cursor: pointer;
  background-color: transparent;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  z-index: 120;
}

.modal-test-close::before,
.modal-test-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -190%;
  width: 25px;
  height: 3px;
  background-color: #db4549;
}

.modal-test-close::before {
  transform: rotate(-45deg);
}

.modal-test-close::after {
  transform: rotate(45deg);
}

.feedback-test {
  display: none;
  text-align: center;
  width: 100%;
}


.feedback-test h3,
h4 {
  font-size: 25px;
}

.test-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5%;
  margin-left: 3%;
}

.test-form input {
  width: 30%;
  padding: 10px 0px 10px 10px;
  font-size: 16px;
  margin-bottom: 5%;
}

.test-form .button-submit {
  margin-bottom: 6%;
  width: 30%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}

/* toggle-menu */
.toggle-menu {
  display: none;
  width: 30%;

  margin-bottom: 20px;
}

.toggle-menu,
.toggle-menu:after,
.toggle-menu:before {
  width: 50px;
  height: 6px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  top: 5%;
  left: 90%;
  margin: 0 auto;
}

.toggle-menu:before {
  content: "";
  top: 28px;
  left: 0;
}

.toggle-menu:after {
  content: "";
  top: 14px;
  left: 0;
}

.toggle-menu:hover {
  background-color: #ffffff;
  color: #fe6f09;
}

.toggle-container.toggle-open {
  left: 0;
  transition: 0.4s;
}

.toggle-container {
  position: fixed;
  width: 100%;
  padding-bottom: 100%;
  transition: 0.4s;
  top: -100%;
  left: -100%;
  z-index: 80;
}

.togle-menu__list {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  text-transform: uppercase;
  background-color: rgb(225, 207, 178);

  text-align: center;
  z-index: 80;
  padding-top: 15%;
  padding-bottom: 5%;
}

.togle-menu-item {
  margin-bottom: 10%;
}



.toggle-close {
  opacity: 0;
  position: fixed;
  top: 20px;
  right: 0px;
  width: 22px;
  height: 22px;
  font-size: 0px;
  cursor: pointer;
  background-color: transparent;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  z-index: 80;
}



.toggle-close::before,
.toggle-close::after {
  content: "";
  position: fixed;
  top: 3%;
  right: 5%;
  width: 25px;
  height: 3px;
  background-color: #fff;
  z-index: 80;
}

.toggle-close::before {
  transform: rotate(-45deg);
}

.toggle-close::after {
  transform: rotate(45deg);
}

.toggle-container.toggle-open>.toggle-close {
  opacity: 1;
  transition: opacity 1s cubic-bezier(0, 0, 0.1, 0.8) 100ms;
}

/* inner-page style */
.main-navigation.inner-page {
  margin-bottom: 0;
}

.site-navigation__list.inner-page {
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%;
}

.services {
  font-family: "Roboto-Light";
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  color: #606060;
}

.description-services {
  display: flex;
  margin-bottom: 44px;
}

.services-content {
  display: flex;
}

.services-container {
  margin-left: 80px;
}

.services-content .services-container {
  margin-left: 0;
}

.services-main-header {
  font-family: "Mplus1p-Regular";
  line-height: 71px;
  font-size: 48px;
  font-weight: 200;
  text-align: right;
  margin: 0;
}

.services-header {
  font-family: "Mplus1p-Regular";
  font-weight: 200;
  font-size: 36px;
  line-height: 53px;
  margin: 0;
}

.wrapper {
  margin-bottom: 40px;
}

.service-advantages {
  padding-top: 46px;
  padding-bottom: 50px;
}

.advantages-list {
  padding-left: 130px;
}

.advantages-list--item {
  position: relative;
}

.advantages-list--item::before {
  position: absolute;
  content: "";
  background-color: #ff5e7f;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  left: -35px;
  top: 5px;
}

.services-you-get {
  margin-bottom: 70px;
}

.consultation {
  margin-bottom: 75px;
}

.services-price {
  display: flex;
  margin-bottom: 92px;
  justify-content: space-between;
}

.services-price .services-header {
  margin-right: 44px;
}

.services-price span {
  padding-top: 1.5%;
  margin-right: 33px;
}

.price-no-discount {
  font-size: 36px;
  text-decoration: line-through;
  font-family: "Mplus1p-Regular";
  opacity: 0.8;
}

.price-discount {
  color: #fff;
  font-size: 45px;
  background-color: #ff5e7f;
  font-family: "Mplus1p-Black";
  padding: 10px 20px 15px 20px;
}

.services-price .button-request {
  margin-left: 12%;
}

.contact-container {
  display: flex;
}

.contact-form.inner-page {
  position: static;
  margin-bottom: 5%;
  width: 80%;
  margin-right: 0;
  padding-top: 2%;
}

.contact-information h4 {
  font-family: "Roboto-Regular";
  font-weight: 700;
  margin-bottom: 0;
}

.contact-information a {
  color: #000000;
}

.contact-information p {
  margin: 0;
  margin-top: 1%;
}

.footer-navigation__list.inner-page {
  justify-content: space-between;
}

.blog-page {
  margin-bottom: 5%;
}

.blog-list.inner-page {
  justify-content: space-around;
}

.blog-list--item {
  margin-bottom: 5%;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 6%;
  margin: 0;
  list-style: none;
}

.pagination-item a {
  display: block;
  padding: 10px 19px;
  margin-right: 5px;
  color: #ffffff;

  background-color: #ff5e7f;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #db4549;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item-current a {
  color: #ff5e7f;
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #db4549;

  background-color: #ffffff;
}

/* adaptive */
@media only screen and (max-width: 1024px) {
  .container.inner-page {
    margin-right: 1%;
    margin-left: 1%;
  }

  .main-navigation {
    margin-bottom: 0;
  }

  .main-navigation--logo {
    margin-left: 2%;
    width: 15%;
  }

  .site-navigation__list {
    padding-top: 3%;
  }

  .site-address__list {
    padding-top: 2%;
  }

  .navigation__list-item {
    margin-right: 3%;
  }

  .site-address__list {
    text-align: right;
    margin-right: 3%;
    padding-left: 0;
  }

  .description-content {
    padding-top: 6%;
    padding-left: 4%;
    padding-right: 3%;
  }

  .description-social {
    padding-top: 3%;
    padding-right: 3%;
  }

  .header-description {
    padding-bottom: 5%;
  }

  .header-description__img {
    display: none;
  }

  .header-description__img-hidden {
    display: block;
    margin-right: 3%;
  }

  .main-content__about {
    width: 90%;
  }

  .about-test {
    width: 90%;
    margin-bottom: 8%;
    position: relative;
  }

  .about-test__description::after {
    position: relative;
    bottom: 70px;
    left: 70%;
  }

  .catalog-list {
    justify-content: center;
    width: 98%;
  }

  .catalog-list__item {
    width: 24%;
    margin-right: 1%;
  }

  .catalog-list__item:nth-child(4) {
    margin-right: 1%;
  }

  .catalog-list__item:nth-child(2) {
    margin-right: 1%;
  }

  .description-box {
    width: 100%;
  }

  .catalog-list__item img {
    width: 100%;
  }

  .reviews {
    width: 90%;
  }

  .reviews-description {
    font-size: 24px;
    width: 90%;
  }

  .reviews-list--item {
    width: 45%;
    margin-right: 3%;
    padding: 2%;
  }

  /* .reviews-list--item.active-slide {
    display: block;
  } */

  .reviews-list--item:last-child {
    margin-right: 0;
  }

  .reviews-list--item img {
    margin: 0 auto;
    margin-bottom: 3%;
  }

  .blog {
    width: 90%;
  }

  .blog-list--item {
    width: 45%;
  }

  .blog-list--item img {
    width: 100%;
  }

  .main-footer {
    text-align: center;
    justify-content: center;
  }

  .footer-contact {
    justify-content: center;
    width: 100%;
    margin-bottom: 3%;
    font-size: 24px;
  }

  .nav-social__container {
    width: 100%;
  }

  .footer-navigation__list {
    justify-content: center;
  }

  .footer-navigation__list-item {
    margin-right: 6%;
  }

  .footer-social__list {
    padding-left: 3%;
    padding-right: 3%;
  }

  .footer-navigation__list {
    font-size: 15px;
    padding-left: 0;
    text-align: center;
  }

  .footer-other--list {
    padding-left: 3%;
    padding-right: 3%;
  }

  .popup {
    width: 50%;
    left: 25%;
  }

  .test-popup-window {
    width: 80%;
    left: 10%;
  }

  /* inner-page-services */
  .services section {
    flex-wrap: wrap;
  }

  .services-content {
    flex-wrap: wrap;
  }

  .services-container {
    margin-left: 3%;
  }

  .services-main-header {
    font-size: 34px;
    text-align: left;
    line-height: 34px;
  }

  .services-header {
    font-size: 28px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  .service-advantages__text {
    margin: 0;
  }

  .services-text {
    font-size: 22px;
  }

  .services .services-price {
    text-align: center;
    flex-wrap: nowrap;
  }

  .price-header {
    padding-top: 1.5%;
  }

  .services-price span {
    width: 25%;
    margin-right: 0;
  }



  .services-price .button-request {
    margin-left: 7%;
  }
}

@media only screen and (max-width: 768px) {
  .page-description {
    text-align: center;
  }

  .site-address__list {
    text-align: center;
    margin-left: 25%;
  }

  .site-navigation__list {
    display: none;
  }

  .header-description {
    flex-direction: column-reverse;
    text-align: center;
  }

  .header-description__img-hidden {
    margin: 0 auto;
  }

  .description-social {
    display: none;
  }

  .toggle-menu {
    display: block;
  }

  .main-content__about {
    width: 100%;
  }

  .about-first {
    margin-bottom: 10%;

    text-align: center;
  }

  .about-first img {
    display: none;
  }

  .about-first::before {
    width: 50%;
    height: 80%;
    left: 10%;
  }

  .about-first__description {
    margin: 0 auto;
    padding-top: 50px;
    width: 90%;
    padding-left: 0;
  }

  .about-test {
    margin: 0 auto;
  }

  .about-test::before {
    width: 70%;
    height: 80%;
    top: -10%;
    left: 10%;
  }

  .catalog-list {
    padding-left: 0;
    justify-content: center;
  }

  .catalog-list__item {
    width: 48%;
    margin-right: 2%;
  }

  .catalog-list__item img {
    width: 100%;
  }

  .catalog-button {
    left: 25%;
  }

  .work-stages__list {
    width: 97%;
    align-items: center;
    padding: 0;
  }

  .stages__list--item {
    width: 100%;
    margin: 0;
    margin-bottom: 15%;
  }

  .stages__list--item p {
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
  }

  .arrow-workstage {
    display: none;
  }

  .portfolio-wrapper {
    flex-direction: column;
  }

  .portfolio-wrapper img {
    margin: 0 auto;
    height: auto;
  }

  .portfolio-description__text {
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
  }

  .portfolio-description {
    text-align: center;
    margin-left: 0;
  }

  .blog-description {
    width: 90%;
    margin: 0 auto;
  }

  .contact-form {
    width: 50%;
    left: 25%;
  }

  .popup {
    width: 50%;
    left: 25%;
  }

  .catalog-list__item.inner-page {
    margin-right: 0;
    text-align: right;
  }

  .contact-information {
    width: 50%;
  }

  .contact-form.inner-page {
    margin-left: 4%;
  }

  .footer-other--list {
    font-size: 16px;
  }

  .test-form {
    flex-wrap: wrap;
  }

  .test-form input {
    width: 100%;
  }

  .test-form .button-submit {
    width: 50%;
    margin: 0 auto;
  }

  /* inner-page-services */

  .services-text {
    text-align: center;
  }

  .description-services {
    text-align: center;
  }

  .description-services img,
  .services-content img {
    margin: 0 auto;
    margin-bottom: 2%;
  }

  .services-main-header {
    text-align: center;
  }

  .advantages-list {
    padding-left: 8%;
  }

  .services .services-price {
    width: 98%;
    flex-wrap: wrap;
  }

  .services-price span {
    width: 33%;
  }

  .price-discount {
    text-align: center;
  }

  .services-price .button-request {
    width: 60%;
    margin: 0 auto;
    margin-top: 10%;
  }
}

@media only screen and (max-width: 425px) {
  .main-header {
    margin-top: 0;
    margin-bottom: 1%;
  }

  .main-navigation {
    padding-top: 2%;
    margin-bottom: 5%;
  }

  .main-navigation--logo img {
    width: 50px;
    height: 50px;
    padding-left: 10%;
  }

  .toggle-menu {
    left: 80%;
    top: 2%;
  }

  .site-address__list {
    display: none;
  }

  .about-first {
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .main-content__about p {
    width: 90%;
    padding-left: 0;
  }

  .about-test {
    width: 90%;
    flex-direction: column;
  }

  .about-test__content {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 23%;
  }

  .about-test__description {
    width: 100%;
  }

  .about-test__description::after {
    display: none;
  }

  .about-test__buton {
    width: 100%;
    text-align: center;
  }

  .catalog-list {
    width: 100%;
  }

  .catalog-list__item {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 3%;
  }

  .catalog-button {
    left: 4%;
  }

  .work-stages__list {
    flex-direction: column;
  }

  .stages__list--item {
    width: 100%;
  }

  .portfolio-description__text {
    padding-left: 5%;
    padding-right: 5%;
  }

  .reviews {
    width: 100%;
  }

  .reviews-list {
    flex-wrap: wrap;
  }

  .reviews-list--item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 4%;
  }

  .blog-list {
    width: 100%;
    flex-wrap: wrap;
  }

  .blog-list--item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 4%;
  }

  .footer-navigation span {
    font-size: 33px;
    justify-content: center;
  }

  .contact-form {
    width: 80%;
    left: 10%;
  }

  .footer-contact img {
    display: none;
  }

  .footer-navigation__list {
    flex-direction: column;
    padding: 0;
    justify-content: center;
    font-size: 24px;
  }

  .footer-navigation__list-item {
    margin-right: 0;
    margin-bottom: 5%;
  }

  .footer-navigation span {
    font-size: 30px;
  }

  .footer-social__list {
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
  }

  .social-list__item {
    width: 30%;
  }


  .social-list__item:last-child {
    margin: 0 auto;
  }

  .footer-other--list {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .other--list__item {
    margin-bottom: 5%;
  }

  .popup {
    width: 100%;
    left: 0;
  }

  .contact-form-info {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .catalog-page-description {
    margin-bottom: 15%;
  }

  .contact-container {
    flex-wrap: wrap;
  }

  .contact-form.inner-page {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
  }

  .contact-information {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    font-size: 20px;
  }

  .contact-information p {
    margin: 0;
    margin-top: 1%;
  }

  /* inner-page-services */
  .services-text {
    text-align: left;
  }

  .services img {
    width: 100%;
    height: auto;
  }

  .services-header {
    text-align: center;
  }

  .price-header {
    width: 100%;
    text-align: center;
  }

  .services .price-discount {
    width: 100%;
  }

  .services .price-no-discount {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }

  /* popup */

  .test-popup-window {
    overflow-x: hidden;
    width: 100%;
    left: 0;
  }
}


@media only screen and (max-width: 375px) {

  /* inner-page-services */
  .advantages-list--item::before {
    left: -8%;
    top: 5px;
  }

  .test-popup-window {
    top: 180%;
  }
}

@media only screen and (max-width: 320px) {
  .header-description__img-hidden {
    width: 80%;
    height: auto;
  }

  .about-test__content h3 {
    font-size: 30px;
    text-align: center;
  }

  .button.button-request {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }

  .catalog-button {
    left: 3%;
  }

  .contact-form {
    width: 90%;
    left: 5%;
  }

  .popup {
    width: 100%;
    left: 0;
  }

  .test-popup-window {
    top: 200%;
  }
}